h1 { color: blue; 
    background-color: #98b5ca;
text-align: center;
text-decoration: underline;
font-family: Arial, sans-serif;
padding: 20px;
border: 2px solid blue;
margin: 20px;
}
textarea {
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 1px solid black;
    margin: 2px;
    background-color: #98b5ca;

}
div {
    background-color: #98b5ca;
    padding: 10px;
    border: 2px solid blue;
    margin: 20px;
    font-weight: bold;
}